/*estilos da pagina index.html*/
.center {
    text-align: center;
}

.justify{
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: #e17055;
    font-size: 17px;
}

#menu li a:hover{
    color: gray;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 200px;
    height: 200px;

}

.tm-social{
    width: 30px;
    height: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}